<mat-sidenav-container fullscreen>
        <mat-toolbar color="primary">
          <a href="home"><span class='toolbar-name'><b>CAELAN BRYAN</b></span></a>
            <span class="toolbar-spacer"></span>
            <span><button mat-button (click)='onProjectsClick()'>PROJECTS</button></span>
            <span class="navigation-spacer"></span>
            <span><button mat-button (click)='onResumeClick()'>RESUME</button></span>
          </mat-toolbar>
    
          <div class="banner">
            <div>
                <h2>My Projects</h2>
            </div>
          </div>
    
          <div class="about-container">
            <!-- <div class="about-section">
              <h3>Coming Soon!</h3>
            </div> --> 
            <h3>Coming Soon!</h3>
          </div>
    </mat-sidenav-container>