@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    font-family: 'Ubuntu', sans-serif;
}

.mat-toolbar.mat-primary {
    background: #ffffff;
    color: #000000;
}

.mat-sidenav-container {
    background: #ffffff;
}

h1 {
    margin: 0px;
}

.mat-button {
    font-size: 18px;
}