.toolbar-name {
    letter-spacing: 5px;
}

.banner {
    background-color: cyan;
    text-align: center;
    height: 400px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-bottom {
    background-color: cyan;
    text-align: center;
    height: 50px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.navigation-spacer {
    display: inline-block;
    margin: 20px;
}

.icon-spacer {
    display: inline-block;
    margin: 10px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.about-section {
    width: 70%;
}

.about-section-mobile {
    width: 90%;
}

.skills-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

img {
    border-radius: 50%;
    border:5px solid black;
    width: 200px;
    height: 200px;
}

.fa-icon {
    width: 50px;
    height: 50px;
}

a {
    text-decoration:none;
    color: inherit;
}

.card {
    width: 80%;
    background-color: cyan;
}

.card-mobile {
    background-color: cyan;
}

.mat-divider {
    width: 95%;
}

.devicon-java-plain-wordmark.full {
    font-size: 3rem;
}

.devicon-java-plain-wordmark.mobile {
    font-size: 2.5rem;
}

.devicon-python-plain-wordmark.full {
    font-size: 3rem;
}

.devicon-python-plain-wordmark.mobile {
    font-size: 2.5rem;
}

.devicon-c-plain-wordmark.full {
    font-size: 3rem;
}

.devicon-c-plain-wordmark.mobile {
    font-size: 2.5rem;
}

.devicon-cplusplus-plain-wordmark.full {
    font-size: 3rem;
}

.devicon-cplusplus-plain-wordmark.mobile {
    font-size: 2.5rem;
}

.devicon-typescript-plain.full {
    font-size: 3rem;
}

.devicon-typescript-plain.mobile {
    font-size: 2.5rem;
}

.devicon-windows8-original.full {
    font-size: 3rem;
}

.devicon-windows8-original.mobile {
    font-size: 2.5rem;
}

.devicon-linux-plain.full {
    font-size: 3rem;
}

.devicon-linux-plain.mobile {
    font-size: 2.5rem;
}

.devicon-apple-original.full {
    font-size: 3rem;
}

.devicon-apple-original.mobile {
    font-size: 2.5rem;
}

.devicon-django-plain-wordmark.full {
    font-size: 3rem;
}

.devicon-django-plain-wordmark.mobile {
    font-size: 2.5rem;
}

.devicon-angularjs-plain-wordmark.full {
    font-size: 3rem;
}

.devicon-angularjs-plain-wordmark.mobile {
    font-size: 2.5rem;
}

.devicon-github-plain-wordmark.full {
    font-size: 3rem;
}

.devicon-github-plain-wordmark.mobile {
    font-size: 2.5rem;
}

.devicon-gitlab-plain-wordmark.full {
    font-size: 3rem;
}

.devicon-gitlab-plain-wordmark.mobile {
    font-size: 2.5rem;
}

.devicon-mysql-plain-wordmark.full {
    font-size: 3rem;
}

.devicon-mysql-plain-wordmark.mobile {
    font-size: 2.5rem;
}

.icon-spacer {
    display: inline-block;
    margin: 10px;
}

h4 {
    margin: .7em auto;
    overflow: hidden;
    text-align: center;
    font-weight:300;
    color: black;
}

h4:before, h4:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
}

h4:after {
    margin: 0 -55% 0 .5em;
}

span {
    display: inline-block;
    vertical-align: middle;
}

.i {
    height: auto;
    width: auto;
}

.matPanelSchoolInformation {
    font-style: italic;
    color: grey;
}