<mat-sidenav-container fullscreen>
    <mat-toolbar color="primary">
        <a href="home"><span class='toolbar-name'><b>CAELAN BRYAN</b></span></a>
        <span class="toolbar-spacer"></span>
        <span><button mat-button (click)='onProjectsClick()'>PROJECTS</button></span>
        <span class="navigation-spacer"></span>
        <span><button mat-button (click)='onResumeClick()'>RESUME</button></span>
      </mat-toolbar>

      <div class="banner">
        <div>
            <img alt="portfolio-picture" src="./assets/images/homepage-image.png">
            <h2>Caelan Bryan</h2>
            <h3><i>Junior Software Engineer</i></h3>
            <a href="https://www.linkedin.com/in/caelan-bryan-9748a7161/"><fa-icon [icon]="faLinkedIn" size="2x"></fa-icon></a>
            <span class="icon-spacer"></span>
            <a href="https://github.com/caelanb"><fa-icon [icon]="faGithubSquare" size="2x"></fa-icon></a>
            <span class="icon-spacer"></span>
            <a href="https://www.facebook.com/profile.php?id=100008336800595"><fa-icon [icon]="faFacebookSquare" size="2x"></fa-icon></a>
            <span class="icon-spacer"></span>
            <a href="mailto:caelanbryan@gmail.com"><fa-icon [icon]="faEnvelopeSquare" size="2x"></fa-icon></a>
        </div>
      </div>

      <div class="about-container">
        <div class="about-section">
          <h3>About Me</h3>
          <p>Horvath's first season out of college was spent with the West Sydney Razorbacks during the 2004–05 NBL season.

              In July 2005, Horvath joined the Minnesota Timberwolves for the 2005 NBA Summer League. Later that year, he re-signed with the Razorbacks for the 2005–06 NBL season. On September 2, 2005, Horvath dislocated his kneecap in the Razorbacks' season opening loss to the Townsville Crocodiles and subsequently missed three months of action.[2] On November 26, 2005, he made his return from injury, recording nine points and five rebounds in a loss to the Wollongong Hawks. However, in the Razorbacks' next game on December 2, he sustained a season-ending toe injury. After recovering from the injury, he moved to New Zealand and joined the Wellington Saints for the 2006 New Zealand NBL season.
              
              In July 2006, Horvath joined the Los Angeles Lakers for the 2006 NBA Summer League.[3] Later that year, he signed with the Adelaide 36ers for the 2006–07 NBL season.[4] Following the ANBL season, he re-joined the Wellington Saints for the 2007 New Zealand NBL season.
              
              On April 11, 2007, Horvath signed a two-year deal with the South Dragons.[5][6][7] On October 25, 2007, Horvath was replaced in the Razorbacks' squad by Bakari Hendrix following the Dragons' 0–6 start to the season.[8][9] However, despite this, he was not released by the Dragons and continued to train with them for the rest of the season, waiting to see if he'd receive his New Zealand citizenship to be able to play as a local instead of an import.[10] He di</p>
        </div>
      </div>
</mat-sidenav-container>



